@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;900&family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



html, body {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  color: black;
  background-color: #f4f4f4;
  overflow:hidden;
  -webkit-tap-highlight-color:rgba(16,27,30,0)
}

a {
  color: #000;
}

p {
  display: inline-block;
}

mark {
  color: red;
  background-color: transparent;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + 6vw);
  line-height: 1em;
  color: rgba(32, 39, 70, 0.9);
  text-align: center;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + 6vw);
  line-height: 1em;
  color: rgba(32, 39, 70, 0.9);
  text-align: center;
}
.card-div-full {
  user-select: none;
  display: block;
  color: white;
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;
  vertical-align: middle;
}

.card-div {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.card-item {
  flex: 50%;
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
}


.shuffleButton, .inOrderButton, .toggleSidesButton {
  font-family: 'Paytone One', sans-serif;
  font-size: calc(8px + 1vw);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  top: 2%;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  user-select: none;
  z-index: 3;
  width: 9%;
}

.choice {
  color: white;
  font-size: calc((12px + 6vw)/3);
  line-height: 4vw;
  background-color: rgb(27, 149, 48);
  padding-left: 1vw;
  padding-right: 1vw;
  min-width: 100px;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 20vh;
  border-radius: 3vw;
}



/* Slider CSS */

/* input[type=range] {
-webkit-appearance: none;
margin: 10px 0;
width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 12.8px;
cursor: pointer;
animate: 0.2s;
box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
background: #007bff;
border-radius: 25px;
border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
border: 0px solid #000000;
height: 20px;
width: 39px;
border-radius: 7px;
background: #fff;
cursor: pointer;
box-shadow: 0px 0px 5px rgb(143, 143, 143);
-webkit-appearance: none;
margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #007bff;
}

body {
padding: 30px;
text-transform: capitalize;} */
